<html lang="en" >

<head>
    <!--General Settings-->
    <title>Start nach
    </title>

    <meta charset="utf-8">
    <meta name="description" content="Nach Committee of Start NTNU">
    <meta name="keywords" content="nachspiel committee start ntnu">
    <meta name="author" content="John Rikard Mienna">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/main.css"/>
   
    <!--JAVASCRIPT-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
    

<body>
    <div class="container">
        <div class="row">
            <div class="party-scale">
                <div class="party-scale-seg">
                    <h1>Nachkonge</h1>
                </div>
                <div class="party-scale-seg">
                    <h1>Medioker</h1>
                </div>
                <div class="party-scale-seg">
                    <h1>Partypooper</h1>
                </div>
            </div>
            <div>
                <div class="img-responsive"></div>
            </div>
        </div>
    </div>
</body>

</html>