<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pokemon App</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.min.js"></script>
  </head>

  <body>

    <!-- container -->
    <div class="container">
      <!-- formctrl -->
      <div ng-controller="FormCtrl">
        <div class="row">
          <div class="col-md-6">
            <!-- form -->
            <form class="form" >
              <div ng-repeat="field in fields" class="input-group">
                <input type="{{field.type}}" class="form-control" placeholder="{{field.label}}">
              </div>
              <button type="submit">Create</button>
            </form>
            <!-- end form -->
          </div>
          <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default" ng-repeat="pokemon in pokemons" style="width: 60%;">
                <div class="panel-heading">
                  <div class="panel-title">{{pokemon.name}}</div>
                </div>
                <div class="panel-body">
                  {{pokemon.type}}
                </div>
            </div>
            <!-- end panel -->
          </div>
        </div>
      </div>
      <!-- end formctrl -->
    </div>
    <!-- end container -->

    <script type="text/javascript" src="/ctrl/form.js"></script>
  </body>
</html>
